html *
{
   font-family: Arial !important;
}

nav{
  display:flex;
  justify-content:space-around;
  padding: 0.1em;
}

nav+h1{
  text-align: center;
  font-size: 1.5em;
}

.link:hover{
  color: #c6e9f8
;
  text-decoration: underline;
}

a{
 text-decoration: none;
 color: black;
}

a:visited{
  display: none;
}

.hero{
  background-image: url("banniere.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 50%;
  padding: 5em;
}

.slogan{
 text-align: center;
  postion: absolute;
}


.imglogo{
  height: auto;
  width: 100%;
}
.logo{
  height: 20%;
  width: 20%;
}


.img{
  width: 100%;
  height: auto;
}

.title{
  text-align: center;
  font-size: 2em;
}


h2+section{

display: flex;
justify-content: space-around;
 flex-wrap: wrap;
}


.date{
 border: solid black 0.1em;
 margin: 0.1em;
 font-weight: bold;
 width: 33%;
  margin-bottom: 5%;
  text-align: center;
  padding: 0.5em;
}


.category{
border: solid black 0.1em;
 margin: 0.1em;
 font-weight: bold;
  margin-bottom: 5%;
  text-align: center;
  padding: 0.4em;
}

.icon{
  float: left;
  clear: both;
  width: 1.5em;
  object-fit: contain;
}

.aside{
  text-align: left;
}
.social{
  width: 2em;
  object-fit: contain;
  float: left;
}


.column{
  display: flex;
  justify-content: space-evenly;
}




.acces{
  border-top: 0.1em solid black;
  font-size: 2em;
}

.infoacces{
  text-align: center;
}
  
